* {
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  background-color: black;
}

#logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

#logo a {
  width: 100%;
  display: flex;
  justify-content: center;
}

#logo img {
  width: 50%;
}

#menu {
  display: flex;
  width: 100%;
  justify-content: center;
  list-style: none;
  padding-bottom: 18px;
}

#menu a {
  color: #e2e3ed;
  text-decoration: none;
  font-size: 18px;
}

#faq {
  padding-right: 50px;
}

#headline {
  background-image: url(../img/jake-melara-30679-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
}

#headline h1 {
  color: #e2e3ed;
  padding-top: 50px;
  padding-left: 12px;
  font-size: 36px;
}

#sign-up {
  color: #e2e3ed;
  background-color: #527158;
  padding: 25px 12px 50px 12px;
}

#email {
  width: 100%;
  height: 50px;
}

::placeholder {
  color: #b8b9c0;
  font-size: 14px;
}

#download-button {
  display: block;
  color: #e2e3ed;
  width: 100%;
  height: 45px;
  margin-top: 12px;
  background-color: #2a423a;
  font-size: 18px;
}

#info {
  background-image: url(../img/rawpixel-800820-unsplash1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e2e3ed;
  padding: 50px 80px;
}

#info i {
  font-size: 55px;
  padding-top: 45px;
}

#info p {
  padding-top: 35px;
  text-align: center;
}

#example {
  background-color: #2a423a;
  padding: 50px 12px 50px 12px;
  color: #e2e3ed;
}

#example img {
  /*height: 200px;*/
  width: 100%;
}

#example h2 {
  font-size: 30px;
}

#example h3, h4 {
  margin: 0px;
  font-size: 18px;
}

#example h3 {
  padding-top: 20px;
}

footer {
  color: #e2e3ed;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  padding-top: 30px;
}

footer h4 {
  padding-bottom: 20px;
  padding-top: 20px;
}

footer p {
  margin: 0px;
}
.icon {
  margin: 0px 40px;
}

.fa-circle {
  color: #527158;
}

/*FAQ page*/
#question-section {
  background-color: #527158;
  color: #e2e3ed;
  padding: 45px 12px;
}

/*About page*/
#mission-statement, #about-contact {
  background-color: #527158;
  color: #e2e3ed;
  padding: 45px 12px;
}

#map figure {
    width: 100%;
    height: 0;
    padding-bottom: 125%;
    overflow: hidden;
    position: relative;
}

#map iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
